* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::selection {
    background-color: transparent;
}

*::-moz-selection {
    background: transparent;
}
 
* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

* {
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

}
:root{
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    cursor:default;
    --color-white: #fff;
    --color-black: #000;
    --color-dark-mode:#11111b;
    --color-light-mode:#ece7e1;
    --color-ddd-color: #ddd;
    --color-gray: #c4c4c4;
    --color-purple: #8000ff;
    --color-light-purple: #cf59e6;
    --color-light-blue: #6bc5f8;
    --color-navbarBorder-dark:#e2e2e207;
    --color-shadowDark:rgba(0, 0, 0, 0.137);
    --static-heading-gradient-blue: #b0f3f1;
    --static-heading-gradient-pink: #ffcfdf;
    --tech-stack-box-first-color:#1a1a29;
    --tech-stack-box-second-color:rgba(27, 27, 40, 0);
    --tech-stack-box-border-color: #292929;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #0a0a10;
}
::-webkit-scrollbar-thumb{
   background-color: #8000ff;

}
body{
    background-color: var(--color-dark-mode);
    overflow-x: hidden;
}

header{
    width: 100%;
    height: 115px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
noscript{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-dark-mode);
    font-size: 4rem;
    color: white;
    z-index:999999;
}
.navbar{
    background-image: linear-gradient(to bottom right,var(--tech-stack-box-first-color), var(--tech-stack-box-second-color));
    backdrop-filter: blur(10px);
    height: 80px;
    width: 80%;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    justify-content: space-between;
    position:fixed;
    z-index: 999;
    border: 1px solid var(--color-navbarBorder-dark);
    
    border-radius: 50px;
    overflow: hidden;
}
.navbar-tabs{
    display: flex;
    height: 100%;
    width: 80%;
    align-items: center;
}
.navbar-tabs-ul{
    height: 100%;
    width: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content:flex-end;
    gap: 80px;
    color: var(--color-white);
}
.navbar-tabs-ul li{
    width: fit-content;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    position: relative;
    font-family: fira code;
}

.navbar-tabs-ul li:hover:before{
    content: "";
    background-color: var(--color-white);
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    left: -20px;
    z-index: -1;
}
.navbar-tabs-ul a{
    text-decoration: none;
    color: var(--color-white);
    font-weight: 100;
}
.activeThistab{
    color: var(--color-white);
}
.activeThistab:before{
    content: "";
    background-color: var(--color-white);
    position: absolute;
    height: 10px;
    width: 10px;
    left: -20px;
    border-radius: 50%;
    z-index: -1;

}
.main{
    width: 100%;
    height: fit-content;
    position: relative;
    overflow-x: hidden;
}

/* blob */
.blob{
    position: absolute;
    right: -15%;
    top: 0;
    background-color: var(--color-light-purple);
    width: 600px;
    height: 100vh;
    border-radius: 50%;
    filter: blur(300px);
    opacity: .3;
    animation: breath 1s linear infinite alternate-reverse;
}
@keyframes breath{
    from{
        opacity: 0.3;
        
    }
    to{
        opacity: 0.5;
    }
}

.landing-page-container{
    width: 100%;
    height: calc(100vh - 115px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.text-content{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    /* padding-left: 300px; */
}


@-webkit-keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  
  /* #name:hover{
    -webkit-animation: vibrate-1 0.3s linear both;
    animation: vibrate-1 0.3s linear both;
}
   */
#name{
    font-size: 8rem;
    font-weight:700;
    width:fit-content;
    display: flex;
    align-items: flex-start;
    background: -webkit-linear-gradient(135deg,var(--color-light-blue),var(--color-light-purple),var(--color-light-blue),var(--color-light-purple));
    background: linear-gradient(-45deg,var(--color-light-blue),var(--color-light-purple),var(--color-light-blue),var(--color-light-purple));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    -webkit-animation: gradient 3s ease infinite;
    animation: gradient 3s ease infinite;

}
@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    
    100% {
        background-position: 0 50%;
    }
}

.jello:hover{
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color:  #03e6ff;
    -webkit-animation: jello-vertical 0.9s both;
	        animation: jello-vertical 0.9s both;
}

 @-webkit-keyframes jello-vertical {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    40% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    50% {
      -webkit-transform: scale3d(0.85, 1.15, 1);
              transform: scale3d(0.85, 1.15, 1);
    }
    65% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    75% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-vertical {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    40% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    50% {
      -webkit-transform: scale3d(0.85, 1.15, 1);
              transform: scale3d(0.85, 1.15, 1);
    }
    65% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    75% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  
#info-para{
    width: 75%;
    font-size: 2rem;
    font-weight: 400;
    padding-top: 30px;
    color: var(--color-ddd-color);
    line-height: 20px;
}

.section-heading{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.section-heading-article{
    font-size:3rem;
    font-family: fira code;
    font-weight: 500;
    background-image: -webkit-gradient(linear,left top,right top,var(--static-heading-gradient-blue),var(--static-heading-gradient-pink));
    background-image: -webkit-linear-gradient(left,var(--static-heading-gradient-blue),var(--static-heading-gradient-pink));
    background-image: linear-gradient(90deg,var(--static-heading-gradient-blue),var(--static-heading-gradient-pink));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skills-section-container{
    padding-top: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills-section{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.skills-heading{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.skills-heading-article{
    font-size:3rem;
    font-family: fira code;
    font-weight: 500;
    background-image: -webkit-gradient(linear,left top,right top,var(--static-heading-gradient-blue),var(--static-heading-gradient-pink));
    background-image: -webkit-linear-gradient(left,var(--static-heading-gradient-blue),var(--static-heading-gradient-pink));
    background-image: linear-gradient(90deg,var(--static-heading-gradient-blue),var(--static-heading-gradient-pink));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.skillsHeadingP{
    width: 300px;
    height: 1px;
    background-image: -webkit-gradient(linear,left top,right top,var(--static-heading-gradient-blue),var(--static-heading-gradient-pink));
    background-image: -webkit-linear-gradient(left,var(--static-heading-gradient-blue),var(--static-heading-gradient-pink));
    background-image: linear-gradient(90deg,var(--static-heading-gradient-blue),var(--static-heading-gradient-pink));

}
.frontend-dev-heading{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 900;
    height: 100px;
    letter-spacing: 5px;
    background-image: -webkit-gradient(linear,left top,right top,var(--static-heading-gradient-blue),var(--static-heading-gradient-pink));
    background-image: -webkit-linear-gradient(left,var(--static-heading-gradient-blue),var(--static-heading-gradient-pink));
    background-image: linear-gradient(90deg,var(--static-heading-gradient-blue),var(--static-heading-gradient-pink));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.tech-stack-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:50px;
    margin-top: 50px;

}
.tech-stack-box{
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-image: linear-gradient(to bottom right,var(--tech-stack-box-first-color), var(--tech-stack-box-second-color));
    border: 1px solid var(--tech-stack-box-border-color);
    /* box-shadow: 0px 10px 20px var(--color-shadowDark); */
    position: relative;
}
.tech-stack-box img{
    width: 80%;
}
.tech-stack-box:hover .tooltip {
    opacity: 1;
    transition-duration: .3s;
  }
.tooltip {
    position: absolute;
    top: -20px;
    opacity: 0;
    background: linear-gradient(to bottom right,var(--tech-stack-box-first-color), var(--tech-stack-box-second-color));
    border: 1px solid var(--tech-stack-box-border-color);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .2s;
    pointer-events: none;
    letter-spacing: 0.5px;
    font-size: 1.6rem;
    backdrop-filter: blur(5px);
    font-weight: 500;
  }
  

  .projects-section-container{
    padding: 10%;
  }
  .project {
    border: 1px solid #151520;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    height: 300px;
    width: 90%;
    /* Effet de néon de base, peu visible */
    box-shadow: 0 0 2px rgba(94, 46, 110, 0.2), /* Intérieur */
                0 0 4px rgba(94, 46, 110, 0.2);
  }
  

.project-info {
    position: relative;
    width: 100%; /* Largeur de l'image ajustée */
    height: 100%;
    z-index: 2; /* Assurez-vous que le carré du titre est devant l'image */
}

.title-square {
    background-color: #161622;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 30%; /* Largeur du carré du titre augmentée */
    height: 100%;
    display: flex; /* Utilisation de flexbox */
    align-items: center; /* Centrage vertical */
    justify-content: center; /* Centrage horizontal */
    transition: transform 0.5s ease; /* Animation de transition */
    font-size: 24px;
}

.project-image {
    position: absolute;
    top: 0;
    width: 70%; /* Largeur de l'image ajustée à 70% */
    height: 100%;
    object-fit: cover; /* Ajustement de la taille de l'image */
    transition: opacity 0.5s ease; /* Transition de l'opacité seulement */
    opacity: 0; /* L'image est initialement transparente */
}


.project:hover .title-square {
    transform: translateX(235%); /* Déplacer le carré du titre vers la droite */
}


.project:hover .project-image {
    opacity: 1; /* L'image devient opaque lorsqu'elle est visible */
}